body {
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  align-items: center;
}

.newsletter {
  color: #00bcfc;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

h1.newscientist {
  font-size: 60px;
  letter-spacing: -5px;
  font-family: "PT SERIF", Georgia,; 
}

.halfpricesale {
  color: antiquewhite;
  font-weight: 900;
  background-color: #00bcfc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 15rem;
  text-align: center;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
}

.nav-links  {
  display: flex;
}

li {
  width: 100%;
  color: black;
  list-style: none;
}