body {
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  /*background-color: blue;*/
  align-items: center;
}

a {
  text-decoration: none;
}

.newsletter {
  color: #00bcfc;
  font-weight: 600;
}